.loading {
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.comment {
    cursor: pointer;
    color: rgb(7, 86, 93);
}

@media (max-width: 700px) {
    .description {
        width: fit-content;
    }
}
