.card_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.topicInfo_card {
    margin: 20px;
    border: 2.5px solid rgba(15, 16, 15, 0.195);
    border-radius: 20px;
    text-align: left;
    width: 22%;
    flex-grow: 2;
    padding: 12px;
    height: auto;
    display: flex;
    background-color: rgb(230, 227, 227);
    font-family: Copperplate, Geneva, Tahoma, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(23, 183, 197, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

:hover.topicInfo_card {
    background-color: rgba(100, 110, 15, 0.491);
    border-color: black;
    cursor: pointer;
}
@media (max-width: 767px) {
    .card_ul {
        display: flex;
        flex-direction: column;
    }
    .topicInfo_card {
        width: auto;
    }
}

.loading {
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    margin-top: 20px;
}

.title {
    color: black;
    font-style: normal;
}
