.vote {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: auto;
}
b {
    margin-top: 50px;
    margin-right: 10px;
}
.like {
    height: 50px;
    width: 50px;
}

.unlike {
    height: 50px;
    width: 50px;
}

.vote_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nc_button {
    background-color: rgb(124, 184, 184);
    width: 100px;
    height: 80px;
    border-radius: 8px;
    margin: 10px;
    border: 3px solid rgb(8, 8, 8);
    cursor: pointer;
}

.nc_button:hover {
    color: rgb(12, 82, 82);
    border: 2px solid black;
}

.nc_button_selected {
    background-color: rgb(240, 73, 73);
    width: 100px;
    height: 80px;
    border-radius: 8px;
    margin: 10px;
    border: 3px solid black;
    cursor: pointer;
}

.nc_button:disabled {
    filter: grayscale(1) blur(2px);
    cursor: no-drop;
}
