.vote {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 20px;
}

.like {
    height: 50px;
    width: 50px;
}

.unlike {
    height: 50px;
    width: 50px;
}

.vote_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nc_button {
    color: rgb(255, 255, 255);
    background-color: rgb(12, 82, 82);
    width: 100px;
    height: 80px;
    border-radius: 8px;
    margin: 10px;
    border: 3px solid black;
    cursor: pointer;
}

.nc_button:hover {
    color: rgb(12, 82, 82);
    border: 2px solid black;
}

.nc_button:disabled {
    cursor: no-drop;
    background-color: rgb(240, 73, 73);
    border: 3px solid black;
}
