.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.nav_links a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.loggedIn__user {
    color: rgb(4, 213, 213);
}
.avatar_url {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.show_user_button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show_user_dropdown {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border-radius: 5px;
    right: 0;
    padding: 8px 20px;
    top: 40px;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu li {
    padding: 5px 14px;
}
.nav_linke.active {
    color: #fff !important;
    background: black !important;
}

.menu li:active {
    background-color: #000000;
}
