.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}
.nav_links a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.loggedIn__user {
    color: rgb(4, 213, 213);
}
.avatar_url {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.menu li {
    padding: 5px 14px;
}
.nav_linke.active {
    color: #fff !important;
    background: black !important;
}

.menu li:active {
    background-color: #000000;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    padding: 14px 29px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content p {
    color: black;
    margin: 5px;
    border-radius: 10px;
    background-color: #4c9e9e;
    padding: 3px 1px;
    text-decoration: none;
    text-align: left;
    margin-right: 100px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-right: 100px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
