.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    background-color: rgb(230, 227, 227);
    color: #0f0e0e;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
    font-weight: bolder;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        flex-shrink: 2;
    }
    .menu {
        display: flex;
        flex-direction: column;
        gap: 0.3em;
        font-size: 13px;
    }
    .dropdown {
        margin-left: px;
    }
}

.active {
    background-color: #444545;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.loggedIn__user {
    color: rgb(4, 213, 213);
}
.avatar_url {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.menu li {
    padding: 5px 14px;
}
.nav_linke.active {
    color: #fff !important;
    background: black !important;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    padding: 14px 29px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 30px 0 0;
}
.dropdown-content p {
    color: black;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(230, 227, 227);
    padding: 3px 1px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin-right: 100px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
