.comment_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 120px;
    width: auto;
    background-color: rgb(230, 227, 227);
    padding: 20px;
    text-align: left;
}

.delete_button {
    width: 50px;
    color: teal;
    height: 50px;
    border-radius: 20px;
    /* width: 20px; */
}
.buttonFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.comment {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
}
